footer {
  width: 90%;
  margin: 0 auto;
  position: relative;

  h3 {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  p {
    text-align: justify;
    width: 100%;
    padding: 20px 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

  }

  @media screen and (max-width: 768px) {
    h3 {
      font-size: 0.9rem;

      &:before,
      &:after {
        width: 25%;
      }
    }

    p {
      width: 100%;
      font-size: 0.9rem;
      padding: 10px 0;
      margin: 0;
    }
  }
}