main {
  margin: 40px auto;
  overflow: hidden;
  width: 90%;

  @media screen and (max-width: 768px) {
    h3 {
      font-size: 0.9rem;

      &:before,
      &:after {
        width: 25%;
      }
    }
  }


  .section-container {
    margin: 60px auto;

    @media screen and (max-width:768px) {
      margin: 0px auto;
    }

    .sc-links {
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        @include title;
        padding: 10px;
        border: 1px solid $white2;
        background: lightslategrey;
        color: $white1;
        max-width: 300px;

        &:hover {
          background: #abbaba;
          color: $black1;
        }

      }

      @media screen and (max-width: 768px) {
        flex-direction: column;

        a {
          padding: 5px;
          font-size: 0.9rem;
          margin: 5px;
          width: 200px;
        }
      }
    }
  }

  .club-container {
    margin: 50px auto;

    @media screen and (max-width:768px) {
      margin: 20px auto;


    }

    .club-content {
      display: grid;
      grid-template-columns: 50% 50%;
      margin: 40px auto;

      @media screen and (max-width: 768px) {
        display: block;
        margin: 20px auto;
      }


      .left-part,
      .right-part {
        h4 {
          text-transform: uppercase;
          padding: 20px 0;
          letter-spacing: 1px;
          font-weight: 500;
        }

        p {
          text-align: justify;
          padding: 0 10px;
          font-size: 1.2rem;
        }

        @media screen and (max-width: 768px) {

          h4,
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .greetings {
    .club-book {
      background: rgba(119, 136, 153, 0.35);
      padding: 20px 0;
      margin: 0;
      color: $black1;

      h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 1px;
      }

      p {
        font-size: 1.2rem;
        letter-spacing: 1px;
        width: 70%;
        text-align: left;
        margin: 0 auto;
        padding: 20px;
      }

      a {
        padding: 7px;
        color: $white1;
        line-height: 25px;

        &:hover {
          text-decoration: underline;
          color: $black1;
        }
      }

      @media screen and (max-width: 768px) {
        h4 {
          font-size: 0.9rem;
        }

        p {
          font-size: 0.9rem;
          width: 100%;
        }

        a {
          font-size: 0.9rem;
          padding: 3px;
        }
      }

    }
  }

  .contact {
    margin: 50px 0;

    @media screen and (max-width:768px) {
      margin: 20px auto;
    }

    .form-section {
      width: 85%;
      margin: 30px auto;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 80px 80px 200px;
      grid-template-areas: "i1 i2""i3 i3""textarea textarea";
      gap: 10px;
      max-width: 600px;

      @media screen and (max-width:768px) {
        display: block;
      }

      .subject {
        grid-area: i3;
      }

      .textarea {
        grid-area: textarea;
      }

      label {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9rem;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        border: 1px solid $white2;
        background: none;
        border-radius: 5px;
        margin: 10px 0 20px;
        padding: 10px;
        outline: none;

        &:focus {
          border: 1px solid blueviolet;
        }
      }

      textarea {
        height: 180px;
        resize: none;
      }
    }

    .form-submit {
      .btn {
        text-transform: uppercase;
        letter-spacing: 1px;
        background: none;
        padding: 10px 40px;
        border: 1px solid $white2;
        border-radius: 5px;
        cursor: pointer;
        font-family: $font1;
        font-size: 0.8rem;
        color: $black1;

        &:hover {
          background: #abbaba;
        }
      }
    }
  }


  /**************** committee ******************/
  .board-members {
    margin: 70px auto;

    @media screen and (max-width:768px) {
      margin: 40px auto;
    }

    .members-table {
      table {
        border-collapse: collapse;
        margin: 20px auto;


        td {
          border: 1px solid $white2;
          font-size: 1.2rem;
          padding: 7px 15px;
          text-align: left;
        }
      }

      @media screen and (max-width: 768px) {
        table {
          td {
            font-size: 0.9rem;
            padding: 8px 12px;
          }
        }
      }
    }
  }

  /**************** training ****************/
  .training-container {

    .training-category {
      padding-top: 60px;

      .training-days {

        .youth-section,
        .senior-section {
          table {
            border-collapse: collapse;
            margin: 40px auto;

            caption {
              text-transform: uppercase;
              font-size: 1.2rem;
              padding: 10px;
              font-weight: 700;
            }

            tr {
              border-bottom: 1px solid $grey3;
              text-align: left;
            }

            td {
              padding: 7px 10px;
              font-size: 1.2rem;
            }

            .day {
              border-right: 1px solid $grey3;
            }
          }

          @media screen and (max-width:768px) {

            table {

              caption,
              td {
                font-size: 0.9rem;
              }

              td {
                padding: 6px;
              }
            }
          }
        }

      }
    }
  }

  /************* Registration *************/

  .registration-container {
    margin: 60px auto;

    .licence-info {
      table {
        margin: 30px auto;
        border-collapse: collapse;

        caption {
          font-size: 1.2rem;
        }

        th,
        td {
          border: 1px solid $grey3;
          padding: 7px 12px;
          font-size: 1.2rem;
        }
      }

      @media screen and (max-width:768px) {
        table {

          caption,
          td,
          th {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .doc-content {
    width: 60%;
    margin: 30px auto;

    p {
      padding: 7px;
      text-align: left;
      font-size: 1.2rem;
    }

    .docToFill {

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0;
      }

      a {
        border: 1px solid $white2;
        padding: 7px 12px;
        text-transform: uppercase;
        font-size: 0.8rem;

        &:hover {
          background: #abbaba;
          color: $white1;
        }
      }
    }

    @media screen and (max-width:768px) {
      width: 100%;

      p {
        font-size: 0.9rem;
      }

      .docToFill {
        a {
          font-size: 0.9rem;
          padding: 4px 8px;
        }
      }
    }
  }

  /**************** Event ***************/
  .event-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 60px auto;

    img {
      width: 100%;
    }

    .event {
      h5 {
        @include title;
        padding: 5px;
      }

      h6 {
        font-size: 1.2rem;
        letter-spacing: 1px;
        padding: 10px;
      }

      p {
        text-align: justify;
        padding-left: 15px;
        font-size: 1rem;
      }
    }

    @media screen and (max-width:768px) {
      display: block;

      .event {
        p {
          text-align: left;
        }

      }

    }
  }
}

.sponsor-container {
  margin: 70px auto;

  img {
    width: 200px;
    height: 110px;
    padding: 10px;
  }

  p {
    font-size: 1.2rem;
    text-align: left;
  }

  .partners {
    margin: 30px auto;

    div {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
    }
  }

  .media,
  .establishment,
  .securalism {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
  }

  @media screen and (max-width:768px) {

    img {
      width: 150px;
    }

    .partners {
      div {
        margin: 20px auto;
        padding: 5px;
      }

      p {
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
      }

    }

    .establishment,
      {
      display: block;
    }
  }
}